/* ==========================================================================
   GENERAL STLYES 
   ========================================================================== */

* {
	box-sizing: border-box; 
}

body {
  display: flex;
  flex-direction: column;
  margin: 0px; 
  font-family: 'Lato', sans-serif;
  font-weight: 300; 
}

a {
	cursor: pointer; 
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
	margin: 0; 
}

p {
	margin: 0; 
	font-size: 16px; 
	line-height: 29px; 
}

h2 {
	font-size: 24px; 
}

h1 {
	font-size: 72px; 
	font-weight: 700; 
	color: orange; 
}




/* ==========================================================================
   NAVIGATION BAR
   ========================================================================== */


.nav-left-main {
    display: flex;
    flex-direction: column;
    padding: 2%;
    flex-basis: 20%;
    background-color: #000;
    color: #fff; 
    height: 100vh; 	
}

.nav-left-main a {
	font-size: 24px; 
	line-height: 50px; 
	color: #fff; 
	text-decoration: none; 
	font-weight: 700; 
	font-family: 'Open Sans', sans-serif;
}

.nav-logo {
	flex-basis: 20%; 
}

.logo {
	height: 50px; 
	width: 50px; 
	background-color: #fff; 
}

.nav-links {
	flex-basis: 30%;	

}

.nav-btm {
	flex-basis: 50%;
	display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-around;
}

.home-cont {
	display: flex; 
	flex-wrap: wrap;
	max-height: 100vh; 
}

.menu-left {
	flex-basis: 20%; 
	background-color: #000;
	color: #fff; 
	height: 100vh; 
	padding: 2%; 
}

.text-right {
	flex-basis: 80%; 
  	display: flex;
  	flex-direction: column;
  	padding: 1.5%; 
}

.title-container {
	padding: 2%; 
	flex-basis: 30%;
	margin-bottom: 1%; 
}

.beer-scroll-cont {
	overflow-y: auto;
	flex-basis: 70%; 
	display: flex; 
	flex-wrap: wrap;
	justify-content: space-around;   
}

/* ==========================================================================
   OPENING TITLE
   ========================================================================== */

.title-container h1 {
	padding-bottom: 10px; 
}

.title-sub-title {
	font-size: 24px; 
	line-height: 39px; 
	font-family: 'Open Sans', sans-serif;
	font-weight: 700; 
}

/* ==========================================================================
   BEER BLOCKS
   ========================================================================== */

.beer-block {
	margin: 1%; 
	flex-basis: 31%; 
	border: 1px solid black;
}

.beer-title {
	padding: 20px; 
	background-color: #000;
	color: #fff; 
}

.beer-info-container,
.beer-description-container {
	display: flex; 
	flex-wrap: wrap; 
}

.beer-info-class {
	flex-basis: 25%; 
	flex-grow: 1;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	padding: 3%;  
}

.beer-info-class:last-of-type {
	border-right: 0px; 
}

.beer-desc-class {
	flex-grow: 1;
	padding: 4%; 
}

.beer-image {
	flex-basis: 30%; 
}

.beer-text {
	flex-basis: 60%; 
}


/* ==========================================================================
   FORM
   ========================================================================== */

.form-container {
    width: 100%;
    padding: 20px; 
    overflow-y: auto;  
}

.form-container h4 {
	margin: 0px 0px 20px; 
}

.form-container input, 
.form-container textarea,
.delete-submit-container input {
	width: 100%;
	border: none;
    border-bottom: 1px solid black;
    font-size: 24px;
    padding: 10px 0px; 
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.form-container textarea {
	height: 250px; 
}

.delete-submit,
.add-submit {
	background-color: orange; 
    line-height: 50px;
}


input:focus {
    outline:none;
}

.ratings-list-container li {
	display: inline-block; 
}

.ratings-list-container li {
	display: inline-block; 
}

.ratings-list-container li.active, 
.ratings-list-container li.secondary-active {
	color: orange; 
}

.ratings-list-container {
    list-style: none;
    padding: 0px; 
    margin: 0px; 
}

.ratings-list-container li .fa-star {
	color: black; 
	font-size: 36px; 
}

.ratings-list-container li .fa-star:hover {
	color: orange;  
}

.ratings-list-container input {
    visibility:hidden;
}
.ratings-list-container label {
    cursor: pointer;
}

.ratings-list-container h2 {
	padding: 20px 0px; 

}


/* ==========================================================================
   DELETE PAGE
   ========================================================================== */


.delete-form-container {
	display: flex; 
	flex-wrap: wrap; 
}

.delete-form-block {
	flex-basis: 31%; 
	background-color: #000; 
	color: #fff; 
	padding: 20px; 
	margin: 1%; 
	font-size: 24px;
	font-family: 'Open Sans', sans-serif; 
	font-weight: 600; 
}



